<h2>Registrieren</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">Vorname</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">Vorname muss gefüllt sein</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Nachname</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Nachname muss gefüllt sein</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username muss gefüllt sein</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Passwort</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Passwort muss gefüllt sein</div>
      <div *ngIf="f.password.errors.minlength">Password muss mindestens 6 Zeichen lang sein</div>
    </div>
  </div>
  <div class="form-group">
    <label for="moderator">Moderator</label>
    <input type="checkbox" formControlName="moderator" class="form-control"/>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrieren
        </button>
    <a routerLink="/login" class="btn btn-link">Abbrechen</a>
  </div>
</form>